@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Merriweather&display=swap');

:root{
    --bg-color:#EEF0F6;
    --contianer-bg-color:#FFFFFF;
    --text-color: #000000;
    --btn-bg-color:#2E407E;
    --link-bg-color: #EEEFF6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    font-family: 'IBM Plex Sans';

    // container start
        .container{
            width: 50vw;
            // height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: var(--contianer-bg-color);
            padding: 80px;
            gap: 80px;
            border-radius: 20px;
            


            // header class start
            .header{
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                gap: 20px;

                h1{
                    color: var(--text-color);
                    font-family: Merriweather;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }

                // text1 start
                .text1{
                    color: var(--text-color);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 38px;
                }
                // text1 ends

                // text2 start
                .text2{
                    color: var(--btn-bg-color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;

                    a{
                        text-decoration-line: underline;
                    }
                }
                // text2 ends

                // btn start
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    background: var(--btn-bg-color);
                    color: var(--contianer-bg-color);
                    padding: 15px 40px;
                    border-radius: 32px;
                    cursor: pointer;
                    border: none;
                }
                // btn ends
            }
            // header class ends

            .line{
                width: 40vw;
                border: 2px solid #EEEFF6;       
            }

            // lower class start
            .lower{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                gap: 320px;
                
                .btn1{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    cursor: pointer;

                    
                    a{
                        color: var(--text-color);
                        background-color: var(--link-bg-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 25px;
                        padding: 10px 20px;
                        border: none;
                    }
                }

                .btn2{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    cursor: pointer;
                    
                    .btn{
                        color: var(--text-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        border: 1px solid lightgray;
                        border-radius: 100%;
                        
                    }
                }
            }
            // lower class ends
    
        }
    // container end
}



